@import url('https://fonts.googleapis.com/css2?family=Creepster&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    min-height: 100vh;
    background: rgb(255,255,255);
    background: linear-gradient(180deg,rgb(36, 32, 32) 0%, rgb(12, 11, 11) 15%, rgb(10, 56, 125) 68%, rgba(0,228,255,1) 100%);
    padding-bottom: 35vh; 
    position: relative;
    box-sizing: border-box;
}   
header{
    display: grid;
    justify-content: center;
    align-content: center;  
    background-color: rgb(36, 32, 32);
    height: 10vh;
}
.title{
    display: grid;
    justify-content: center;
    color: rgb(242, 4, 44);
    font-size: 3rem;
    font-family: 'Creepster', cursive;
}
.board{
    display: grid;
    grid-template-columns: 10% 80% 10%;
    color: rgb(255, 255, 255);
}
.player1{
    border: 2px solid rgb(24, 182, 37);
    margin: 10px;
}
.player2{
    border: 2px solid rgb(37, 111, 43);
    margin: 10px;

}
.result{
    color: red;
    font-size: 100px;
    /* display: grid; */
    /* justify-content: center; */
    background-image: url('https://i.pinimg.com/originals/c8/f5/7b/c8f57b3d7ed2cc3d99477f183688b2b4.png');
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 40vh;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
    position: absolute;
    bottom: 0;
    min-width : 100vw;
}